<li id="message-<%= message.id %>">

  <span class="author" ><%= link_to message.user.name, message.user %></span>
  <span class="content"><%= message.content %></span>
  <span class="timestamp">
    Opubikowana <%= time_ago_in_words(message.created_at) %> temu.
    <% if current_user?(message.user) %>
      <%=link_to "delete", message, method: :delete, data: {confirm: "Czy na pewno?"} %>
    <% end %>

  </span>
</li>