<% provide(:title, @group.title )%>
<h1><%= @group.title %></h1>
<h2><%= @group.group_code %></h2>
<%= link_to 'Wróć', groups_url %>


<%if current_user.groups.include? @group %>
    <aside>
  <h3>Opis grupy</h3>
  <p><%= @group.description %> </p>
    <h3>Prowadzący</h3>
    <ul class="users">
      <% @teacher.each do |user| %>
          <li><%= link_to user.name, user %>
            <% if current_user.admin? && !current_user?(user) %>
                | <%= link_to "(usuń użytkownika)", user, method: :delete, data:{confirm: "Czy na pewno?"} %>
            <% end %>
          </li>
      <% end %>
    </ul>
  <h3>Członkowie grupy</h3>
    <ul class="users">
      <% @users.each do |user| %>
          <li><%= link_to user.name, user %>
            <% if current_user.admin? && !current_user?(user) %>
                | <%= link_to "(usuń użytkownika z grupy)", user, method: :delete, data:{confirm: "Czy na pewno?"} %>
            <% end %>
          </li>
      <% end %>
    </ul>
    </aside>
    <div>
      <h3>Sprawozdania</h3>
      <table class = "table table-bordered table-striped">
        <thead>.
        <tr>
          <th>Tytuł</th>

          <th>Plik</th>
          <% if logged_in? && current_user.admin? %>
              <th>Autor</th>
          <% end %>
          <th>Akcja </th>
          <th>Ocena </th>
        </tr>
        </thead>

        <tbody>
        <% @reports.each do |report| %>

            <tr>
              <td><%= report.title %></td>
              <td><%= link_to "Pobierz", report.attachment_url %></td>
              <% if logged_in? && current_user.admin? %>
                  <td><%= link_to report.user.name, report.user %></td>
              <% end %>

              <td>
                <% if !current_user.admin? %>
                  <%= button_to "usuń",  report, method: :delete, class: "btn btn-danger", confirm: "Czy na pewno?" %>
                <% else %>
                    <%= button_to "oceń",  report, method: :get, class: "btn btn-primary" %>
                <% end %>
              </td>
              <td><% if report.mark == nil %>  "Brak oceny" <%else%> <%= report.mark  %> <% end %></td>
            </tr>

        <% end %>
        </tbody>

      </table>
    </div>
<% else %>
    <p>Nie należysz do tej grupy!</p>
<% end %>